<!doctype html>
<html ng-app="myProject">
<head>
   <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html">
   
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-touch.min.js"></script>
   <script src="ui-bootstrap-tpls-0.11.0.min.js"></script>
   <script src="assets/controllers.js"></script>
  
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" media="all" href="css/styles.css">
   
   <title>Angular Portfolio Site</title>
   
</head>
<body class="container">
<!--<body ng-controller="GitHubCtrl">

<div id="w">
   <div>
      <h1>Portfolio Site</h1>

      <p>Enter a single Github username below and click the button to display profile info.</p>

      <input type="text" id="ghusername" ng-model="username" placeholder="Github username...">
      <a href="#" id="ghsubmitbtn" ng-click="getGitInfo()">Pull User Data</a>

      <div id="ghapidata" class="clearfix"></div>
   </div>
   <div ng-show="userNotFound">
      <h2>No User Info Found</h2>
   </div>
   <div ng-show="loaded">

      <h2> {{user.name}}
         <span class="smallname">(@<a href="{{user.html_url}}" target="_blank"> {{user.login}} </a>)</span>
      </h2>

      <div class="ghcontent">
         <div class="avi">
            <a href="{{ user.html_url }}" target="_blank">
               <img src="{{ user.avatar_url }}" width="80" height="80" alt="{{ user.login }}"></a>
         </div>
         Followers: {{ user.followers }} - Following: {{ user.following }}<br>Repos: {{ user.public_repos }}</p>
      </div>

      <div class="repolist clearfix">
         <p ng-hide="reposFound">No repos!</p>

         <div ng-show="reposFound">
            <p><strong>Repos List:</strong></p>
            <ul ng-repeat="repo in repos">
               <li><a href="{{repo.html_url}}" target="_blank"> {{repo.name}} </a></li>
            </ul>
         </div>
      </div>
   </div>
   
</div>-->
 <div ng-controller="TabsDemoCtrl">
  <p>Select a tab by setting active binding to true:</p>
  <p>
    <button class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Select second tab</button>
    <button class="btn btn-default btn-sm" ng-click="tabs[1].active = true">Select third tab</button>
  </p>
  <p>
    <button class="btn btn-default btn-sm" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
  </p>
  <hr />

  <tabset>
    <tab heading="Static title">Static content</tab>
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>
    <tab select="alertMe()">
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>
  </tabset>

  <hr />

  <tabset vertical="true" type="pills">
    <tab heading="Vertical 1">Vertical content 1</tab>
    <tab heading="Vertical 2">Vertical content 2</tab>
  </tabset>

  <hr />

  <tabset justified="true">
    <tab heading="Justified">Justified content</tab>
    <tab heading="SJ">Short Labeled Justified content</tab>
    <tab heading="Long Justified">Long Labeled Justified content</tab>
  </tabset>
</div>

</body>
</html>
